.image-container {
    width: 100%;
    height: 450px; /* Установите нужную высоту */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Обрезаем изображение, сохраняя пропорции */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.card {
    width: 100%; /* Или фиксированная ширина, например 300px */
    border: 1px solid #ddd; /* Для наглядности */
    overflow: hidden; /* Чтобы ничего не выходило за границы */
}